@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #4a4a4a;
  font-weight: 400;
}
/*Estilos del cargador al iniciarl la pagina*/
.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,.95);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader>img {
  max-width: 50px;
}
h1,h2,h3,h4 {
  margin: 0;
}
h2 {

}
span {

}
label {
  color: #fff;
  font-weight: 100;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
}
/*Estilos del cargador al iniciarl la pagina*/

/*Carga de las imagenes*/
.lazyImg {
  -webkit-transition: transform .3s ease-in-out;
  -moz-transition: transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  max-width: 100%;
  transform: scale(0.5);
}
.lazyImg.b-loaded {
 transform: scale(1);
 -webkit-transform: scale(1);
 -moz-transform: scale(1);
 -o-transform: scale(1);
}
.line {
  width: 100px;
  max-width: 100px;
  margin: 10px 0;
  border-top: 3px solid #FFD13B;
  height: 0;
}
.line::before {
  content: "";
  width: 150px;
  max-width: 150px;
  display: block;
  position: relative;
  bottom: 3px;
  border-top: 1px solid #FFD13B;
}
.animated-line {
  border-top: 1px solid #FFD13B;
  max-width: 200px;
  top: 15px;
  width: 200px;
  position: relative;
  margin: 0 auto;
  height: 0;
  animation-name: grow;
  animation-duration: 1s;
}
@keyframes grow {
  from {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
  }
  to {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}

.btn-cta {
  background-color: transparent;
  color: #fff;
  font-weight: 600;
  border: 1px solid #FFD13B;
  border-radius: 0;
}
/*Carga de las imagenes*/

/*Hero*/
.hero {
  min-height: 85vh;
  width: 100%;
  background-image: url(../img/japanese.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.hero-overlay {
  background-color: rgba(0,0,0,.75);
}
.hero-wrapper {
  position: relative;
  max-width: 80vw;
  min-height: 85vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-program-name{
  text-align: center;
  margin-bottom: 5em;
}
.hero-program-name h1 {
  color: #fff;
  font-weight: 700;
  font-size: 45px;
}
.hero-program-name span {
  color: #FFD13B;
  letter-spacing: 3px;
}
.hero-logos {
  display: flex;
  margin-bottom: 40px;
}
.hero-copy {
  margin-bottom: 3em;
}
.hero-copy  h2 {
  color: #fff;
  line-height: 1.5;
  text-align: center;
}
.hero-copy  h2 span {
  color: #FFD13B;
}
.logo-divider {
  height: 70px;
  width: 0;
  border-right: 1px solid #fff;
  margin: 0 20px;
}
.form-inputs-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.form-group {
  width: 30%;
  margin: 10px 0;
}
.form-control {
  color: #FFD13B;
  font-weight: 100;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  height: 40px;
}
.form-control:focus, .form-control:active {
  border: 1px solid #FFD13B;
  outline: 0;
  box-shadow: 0 !important;
}
.btn-sub {
  font-weight: 700;
  font-size: 20px;
  background-color: transparent;
  color: #fff;
  padding: 8px 22px;
  border-top: 0;
  border-bottom: 0;
  border-left: 1px solid #FFD13B;
  border-right: 1px solid #FFD13B;
  border-radius: 0;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.btn-sub::before, .btn-sub::after {
  content: "";
  width: 100%;
  display: block;
  position: relative;
  border-top: 1px solid #FFD13B;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.btn-sub::before{
  bottom: 9px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
}
.btn-sub::after{
  top: 9px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
}
.btn-sub:hover {
  color: #FFD13B;
}
.btn-sub:hover::before, .btn-sub:hover::after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}

/*Descripcion*/
.description {
  min-height: 200px;
  background-image: url(../img/japanese.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}
.tittle-description {
  padding: 40px 0;
  text-align: center;
}
.tittle-description h1 {
  font-weight: 700;
  font-size: 45px;
}
.tittle-description span {
  color: #00467c;
  letter-spacing: 2px;
}
.paralax {
  width: 100%;
  min-height: 200px;
  background-color: rgba(0,0,0,.75);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-weight: 200;
}

/*Metodologia*/
.content-steps {
  display: flex;
}
.step {
  width: 25%;
  height: 100px;
  background-color: #1a1a1a;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 30px;
  border-right: 1px solid #fff;
  position: relative;
}
.step h4 {
  color: #FFD13B;
}
.content-steps div::after {
  content: "";
  position: absolute;
  right: -30px;
  z-index: 1;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-left: 15px solid #fff;
  border-bottom: 15px solid transparent;
}
.content-steps div:last-child::after {
  display: none;
}
.content-steps div:last-child {
  border-right: 0;
}
.metodology-description {
  background-color: #1a1a1a;
  border-top: 1px solid #FFD13B;
}
.metodology-description-container {
  display: flex;
}
.item {
  /*width: 33.33%;*/
  padding: 20px;
}
.item h4 {
  color: #FFD13B;
}
.item p {
  color: #e2e2e2;
}
/*perfil*/
.profile {
  background-image: url(../img/perfil.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  min-height: 350px;
}
.wrapper-profile {
  padding: 40px 0;
  background-color: rgba(0,0,0,.55);
  min-height: 350px;
  color: #fff;
}
.profile ul {
  padding-left: 15px;
}
.profile ul li {
  line-height: 1.7;
}
/*Viaje*/
.travel {
  background-color: #1a1a1a;
  padding: 40px 0;
}
.japon {
  width: 30px;
  height: 30px;
  background-color: #D92121;
  border-radius: 50%;
  display: inline-block;
}
.tittle-travel h1{
  font-weight: 700;
  font-size: 45px;
}
.tittle-travel span {
  color: #FFD13B;
  letter-spacing: 2px;
}
.tittle-travel p {
  color: #fff;
}

/*FOTOS*/
.pictures-container {
  display: flex;
  flex-wrap: nowrap;
}
.pictures-container figure {
  max-width: 20%;
  position: relative;
  max-height: 300px;
  overflow: hidden;
  cursor: pointer;
}
.pictures-container figure img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.pictures-container figure figcaption {
  position: absolute;
  padding: 0 5px;
  top: 50px;
  left: 10%;
  width: 80%;
  background-color: rgba(0,0,0,.80);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFD13B;
  border-bottom: 2px solid #FFD13B;
  transform: translateY(300px);
  -webkit-transform: translateY(300px);
  -moz-transform: translateY(300px);
  -o-transform: translateY(300px);
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.pictures-container figure:hover figcaption{
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);

}
/*footer*/
footer {
  text-align: center;
  color: #1a1a1a;
  background-color: #fff;
  padding: 20px 0;
}

/*Formulario CTA*/
.cta {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-transform: scale(0) translateX(-100vw); /* IE 9 */
  -webkit-transform: scale(0) translateX(-100vw); /* Safari */
  transform: scale(0) translateX(-100vw);
  opacity: 0;
  background-color: #1a1a1a;
  background-image: url(../img/mapa_col-japon@2x.png);
  background-size: 60%;
  background-position: bottom right;
  background-repeat: no-repeat;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.active-menu {
  -moz-transform: scale(1) translateX(0); /* IE 9 */
  -webkit-transform: scale(1) translateX(0); /* Safari */
  transform: scale(1) translateX(0);
  opacity: 1;
}
.cta-form-header {
  padding: 20px 0;
}
.cta-form-header h2{
  color: #fff;
  text-align: center;
}
.cta-form-content .form-group {
  width: 100%;
}
.cta-form-content .form-control{ 
  height: 40px;
}
.close {
  position: absolute;
  top: 30vh;
  right: 100px;
  color: #fff;
  -webkit-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}
.close:hover {
  color: #fff;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
@media  (max-width: 768px) {
  /*HERO*/
  .hero {
    min-height: 100vh;
    background-position: top center;
    background-attachment: scroll;
  }
  .hero-wrapper {
    padding-top: 20px;
  }
  .form-group {
    width: 100%;
  }
  label {
    text-align: center;
  }
  h1 {
    font-size: 25px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  span {
    letter-spacing: 2px !important;
    font-size: 12px !important;
  }
  .description {
    background-attachment: scroll;
  }
  /*METODOLOGIA*/
  .content-steps {
    flex-direction: column;
  }
  .step {
    width: 100%;
    border-right: 0;
    border-bottom: 1px solid #fff;
  }
  .content-steps div::after {
    content: "";
    position: absolute;
    left: 85%;
    bottom: -30px;
    z-index: 1;
    width: 0;
    height: 0;
    border-top: 15px solid #fff;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
  .content-steps div:last-child::after {
    display: none;
  }
  .content-steps div:last-child {
    border-right: 0;
  }
  .metodology-description-container {
    flex-direction: column;
  }
  .paralax {
    padding: 20px;
    text-align: justify;
  }
  .profile {
    background-attachment: scroll;
  }
  /*CTA*/
  .cta-form-wrapper {
    padding: 0 10px;
  }
  .close {
    top: 20px;
    right: 20px;
  }
  .cta {
    background-size: 85%;
    background-position: bottom center;
  }
  /*Imagenes*/
  .pictures-container {
    flex-wrap: wrap;
  }
  .pictures-container figure {
    max-width: 100%;
  }
}